AUTH_SECRET=""
AUTH_DISCORD_ID=""
AUTH_DISCORD_SECRET=""
DISCORD_GUILD_ID="1427655279352484065"
DISCORD_APPLICATION_WEBHOOK_URL=""
DISCORD_MEDIA_BOT_TOKEN=""
DISCORD_MEDIA_CHANNEL_ID=""
DISCORD_MEDIA_LIMIT="30"
FIVEM_SERVER_ENDPOINT="http://49.12.121.140:30175"
NEXT_PUBLIC_CONNECT_COMMAND="connect 49.12.121.140:30175"
NEXT_PUBLIC_DISCORD_URL="https://discord.gg/lastsurvivors"
NEXT_PUBLIC_DISCORD_MEDIA_CHANNEL_URL="https://discord.gg/KaWEEehr"
NEXT_PUBLIC_VOTE_URL="https://top-serveurs.net/gta/last-survivors"
NEXT_PUBLIC_STORE_URL=""
